body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alt_description_text {
  margin: 10px;
  opacity: .5;
  cursor: default;
  color: #C70039;
}

.description_text {
  margin: 10px;
  opacity: .5;
  cursor: default;
  color: #1a1a1a;
  font-size: .75rem;
}

.container{
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 100vh;;
}

.Nisits{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 95vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.nisits-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
}
.nisits-button {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.nisits-search {
  display: flex;
  justify-content: center;
}
.nisits-search input{
  background-color: transparent;
  border-radius: 0;
  width: 400px;
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, .25);
  outline: none;
  padding-left: .5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-left: 5rem;
}

.content {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content img{
  width: 100%;
}

.content h3{
  color: rgba(0, 0, 0, .7);
}

.h2-title{
  text-transform: uppercase;
}

.date-time{
  display: flex;
  justify-content: space-between; 
  width: 100%;
}

.date-time input{
  width: 100%;
}

.button{
  display: flex;
}
.button button{
  margin-right: 1em;
}

.form-control{
  display: none;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: solid rgba(0, 0, 0, .25); 
  justify-content: center;
}

.upload-btn{
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border: solid 2px rgba(0, 0, 0, .25);
}

.upload-btn:hover{
  border: solid 2px rgba(0, 0, 0, .7);
  transition: border-color .2s ease-out;
}

.form-label{
  padding-left: 1rem;
  font-size: .75rem;
}

.button-81.submit:disabled {
  background-color: transparent;
  color: #0d172a;
}


.button-81.submit {
  background-color: green;
  color: #fff;
}

.button-81.submit:hover  {
  background-color: rgb(0, 97, 0);
  color: #fff;
}

.button-81.upload:disabled {
  background-color: transparent;
  color: #0d172a;
}


.button-81.upload {
  background-color: #1e293b;
  color: #fff;
}

.button-81.upload:hover  {
  background-color: #161f2c;
  color: #fff;
}

/* CSS */
.button-81 {
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}


.ha-screen-reader{
  width: var(--ha-screen-reader-width, 1px);
  height: var(--ha-screen-reader-height, 1px);
  padding: var(--ha-screen-reader-padding, 0);
  border: var(--ha-screen-reader-border, none);

  position: var(--ha-screen-reader-position, absolute);
  clip: var(--ha-screen-reader-clip, rect(1px, 1px, 1px, 1px));
  overflow: var(--ha-screen-reader-overflow, hidden);
}

/*
=====
RESET STYLES
=====
*/

.field__input{ 
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #76767694);
  
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

/*
=====
CORE STYLES
=====
*/

.field{
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
  --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));

  display: flex;
  flex-direction:column;
  position: relative;
  width: 100%;
  font-size: var(--fieldFontSize, 1rem);
}

.field__input{
  box-sizing: border-box;
  width: var(--fieldWidth, 100%);
  height: var(--fieldHeight, 3rem);
  padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));  
}

.field__input:focus{
  outline: none;
}

.field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field__label-wrap{
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.field__label-wrap::after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;

  position: absolute;
  bottom: 0;
  left: 0;
}

.field__input:focus ~ .field__label-wrap::after{
  opacity: 1;
}

.field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  top: calc(50% - .5em);

  line-height: 1;
  font-size: var(--fieldHintFontSize, inherit);

  transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
  will-change: bottom, opacity, font-size;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
  --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);

  top: var(--fieldHintTopHover, .25rem);
}

/* 
effect 2
*/

.field_v2 .field__label-wrap{
  overflow: hidden;
}

.field_v2 .field__label-wrap::after{
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transform: translate3d(-105%, 0, 0);
  will-change: transform, opacity;
  transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
}

.field_v2 .field__input:focus ~ .field__label-wrap::after{
  transform: translate3d(0, 0, 0);
  transition-delay: 0;
}

@media (max-width: 992px){
  .container {
    height: 90vh;
    flex-direction: column;
  }
  .content { 
    width: 250px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content h2{
    text-align:center;
  }
  .main-content{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: 500px;
    height: 100%;
  }
  .button{
    width: 100%;
    justify-content: center;
  }
  .Nisits{
    top: 90vh;
  }
}

@media (max-width: 640px){
  .container {
    margin: auto;
    height: 90vh;
  }
  .content { 
    width: 200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content h2{
    font-size:21px;
    text-align:center;
  }
  span.alt_description_text{
    font-size: 12px;
  }
  .main-content{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    width: 350px;
    height: 100%;
  }
  .Nisits{
    top: 100vh;
  }
}

@media (max-width:425px) {
  .container {
    margin: auto;
    height: 100vh;
  }
  .content{
    width: 150px;
  }
  .content h3{
    display: none;
  }
  .main-content{
    width: 325px;
    height: 100%;
  }
  .main-content h2{
    font-size: 19px;
  }
  .Nisits{
    position: relative;
    top: 2rem;
    width: 325px;
  }
  .nisits-button button.btn{
    font-size: 14px;
  }
}
